.formPoke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.formPoke *{
    margin: 10px;
}

.MuiPaper-root{
    margin: 20px;
}

