.imgHeader{
    height: 50px;
    width: 100px;
}

img{
    height: 120px;
    width: 120px;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70px;
    background-color: rgb(175, 28, 28);
}