footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: rgb(175, 28, 28);
    width: 100%;
    color: white;
    font-size: 20px;
    height: 35px;
}
footer>a:visited, footer>a{
    text-decoration: none;
    margin-left: 4px;
}